.about {
    margin-top: 100px;
 .about-row {
    display: flex;
    .about-col {
        display: flex;
        gap: 3rem;
        text-align: justify;
        margin-top: 150px;
        h2 {
            color:#F35825;
            margin-bottom: 25px;
            font-weight: bold;
        }
        p {
            font-weight: bold;
        }
    }
    .img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img{
            width: 100%;
                    object-fit: cover;
        }
    }
 }
}