.card-modal {
    width: 80%;
    height: 500px;
    background-color: rgb(228, 212, 212);
    background-color: #E7F0FE;
    position: absolute;
    left: 15%;
    top: 45%;
    margin-left: -50px;
    margin-top: -50px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    border-radius: 20px;
   .card {
    width: 400px;
    height: 250px;
    background-color: gray;
    margin-left: 10%;
    margin-top: 10px;
    background: linear-gradient(to right, #ff6b6b, #ffa07a);
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    position: relative;
  .card-no {
    position: absolute;
    bottom: 40%;
    right: 20%;
    font-size: 1.5rem;
  }
  .card-bilgi {
    position: absolute;
    display: flex;
    bottom: 10%;
    left: 3%;
    font-size: 1.5rem;
  }
  .card-date {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
  .card-cvc{
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
   }

   .card-inputs{
   margin-top: 20px;

    .name-input {
      display: flex;
        input{
            width: 100%;
            height: 30px;
            border-radius: 0px;
        }
        label {
         width: 40%;
         font-weight: bold;
        }
    }
    .number-input {
      display: flex;
      margin-top: 10px;
      input {
        height: 30px;
          border-radius: 0px;
          margin-left: 4px;
      }
      label{
        width: 40%;
        font-weight: bold;
      }
    }
    .date-input{
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
      input{
        border-radius: 0px;
       margin-left: 10px;
      width: 10%;
      height: 30px;
      
      }
      label{
        width: 40;
        font-weight: bold;
      }
    }
   .cvc-input{
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    input{
      border-radius: 0;
      margin-left: 10px;
      width: 20%;
      height: 30px;
    }
    label{
      width: 10%;
      font-weight: bold;
    }
   }
   .form-button{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    button{
      background-color: #ff6b6b;
      width: 25%;
      border: none;
    }
    
   }
  }
}